* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.heading h1 {
    text-align: center;
    margin-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.container .input {
    display: flex;
    gap: 10px;
    width: 70%;
}

.container input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.container input:focus {
    outline: 2px solid lightseagreen;
}

#btn {
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
     padding: 10px 15px;
}

#btn:hover {
    background-color: black;
}

.container .flagImages {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flagImages #flagImg {
    width: 70%;
}

#alertPara {
    color: red;
    font-size: 18px;
    margin: 10px;
}

@media (max-width : 400px) {
    .heading h1 {
   font-size: 30px;
}

}